doctype html
html
    head
        title= title
        script(src="/jquery-3.4.0.min.js")
        script(src="/bundle.js")
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet", href="/popupS.css")
    
    body
        p This is a recepie of type "#{type}"
        br
        h1= name
        h4= tags
        p= body
        br
        p Last edited: #{date}

        input(type="button" value="delete" onclick="deleteRecepie();")