doctype html
html
    head
        title= recepie.name
        link(rel="stylesheet" href="/style.css")
    
    body
        p This is a recepie of type "#{recepie.type}", id #{recepie._id}
        br
        h1= recepie.name
        h4= recepie.tags
        p= recepie.body
        br
        p Zuletzt bearbeitet: #{recepie.date}

        form(action="/rezepte/" + recepie.type + "/delete-form", method="post")
            button(type="submit") Löschen
            input(type="hidden", name="_id", value= recepie._id)

        form(action="/rezepte/" + recepie.type + "/edit/" + recepie._id, method="get")
            button(type="submit") Bearbeiten
